BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "stp16_clk" SITE "9" ;
LOCATE COMP "stp16_le" SITE "10" ;
LOCATE COMP "stp16_noe" SITE "11" ;
LOCATE COMP "stp16_sdi" SITE "12" ;
IOBUF PORT "nreset" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "stp16_clk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "stp16_le" IO_TYPE=LVCMOS33 ;
IOBUF PORT "stp16_noe" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "stp16_sdi" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sclk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "lrclk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdin" IO_TYPE=LVCMOS33 ;
LOCATE COMP "sclk" SITE "13" ;
LOCATE COMP "lrclk" SITE "14" ;
LOCATE COMP "sdin" SITE "16" ;
IOBUF PORT "clk256" IO_TYPE=LVCMOS33 ;
IOBUF PORT "spdif" IO_TYPE=LVCMOS33 ;
LOCATE COMP "clk256" SITE "4" ;
LOCATE COMP "spdif" SITE "5" ;
USE PRIMARY NET "osc_clk" ;
USE PRIMARY NET "spdif_transmitter_/clk128" ;
FREQUENCY NET "clk256_c" 100.000000 MHz ;
FREQUENCY NET "spdif_transmitter_/clk128" 100.000000 MHz ;
FREQUENCY NET "sclk_c" 100.000000 MHz ;
USE SECONDARY NET "clk256_c" ;
USE PRIMARY NET "sclk_c" ;
LOCATE COMP "nreset" SITE "21" ;
